{ sub_dirs, [ "rel" ] }.

{ eunit_opts, [ verbose ] }.

%{ cover_enabled, true }.

{ erl_opts,
    [ debug_info
    , { src_dirs, [ "src" ] }
    ] }.

{ deps,
    [ { meck, ".*", { git, "https://github.com/eproxus/meck" } }
    , { jiffy, ".*", { git, "https://github.com/davisp/jiffy.git" } }
    , { gproc, ".*", { git, "https://github.com/uwiger/gproc.git" } }
    ] }.

%% vi: set ft=erlang
